<!DOCTYPE html>
<html>
    <head>
    	<title>Support Tools</title>
    	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css"> -->
    	<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body class="ui container" onload="startTime()">
            <div class="ui inverted default menu itemSize">
            <% if(currentUser){ %>
                <a class="item" href="/home">Home</a>
                <a class="item" href="/clients">Clients</a>
                <a class="item" href="/knowledge">Knowledge</a>
            <% }; %>
            <% if(currentUser && currentUser.admin === true){%>
                <a class="item" href="/admin">Admin Page</a>
            <% }; %>
            <%if(currentUser){ %>
                    <span class="item right floated"><%= currentUser.firstname +" "+currentUser.lastname %></span>
                    <a class="item" href="/logout">Log Out</a>
            <% }else { %>
                <a class="item right floated" href="/login">
                    Login
                </a>
                <a class="item" href="/register">
                    Register
                </a>
            <% }; %>
            </div>
            <%if(currentUser){ %>
            <div id="myTime" class="ui black label"></div>
            <% }; %>
            <div class="container"><br>
                <% if(error && error.length > 0){ %>
                <div class="ui red message" role="alert">
                    <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0){ %>
            <div class="ui green message" role="alert">
                <%= success %>
            </div>
            <% } %>
