<% include ../partials/header %>
    
    <div class="ui center header">
        Please Note That You Are Editing A DB VPN Access That Will Affect All Areas Of The Application!
    </div>
    <div id="dbprod" class="ui container">
        <form class="ui form" action="/admin/db/products/<%= access._id %>/edit?_method=PUT" method="POST">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="ui grid">
                        <div class="four wide column">
                            <input name="name" value="<%= access.name %>" class="ui header"></input>
                        </div>
                        <div class="two wide column">
                            <button class="ui red inverted button">Update</button>
                        </div>
                        <div class="two wide column">
                            <a href="/admin/db/vpnaccess" class="ui green inverted button">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

<% include ../partials/footer %>