body, html{
    height:100%;
}
body{
    background-image: url('https://images.unsplash.com/photo-1498409785966-ab341407de6e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a87674644cd4f622df5c57facbccf1e&auto=format&fit=crop&w=1460&q=80');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size:100%;
    color: white;
}
