body, html{
    height:100%;
}

html {

}

body {
  margin-top: 75px;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#opening {
  margin-top: 0%;
  color: white;
  font-size: 2.5em;
  -margin-left: 10%;
  -margin-right: 30%;
  text-align: center;
  -background-color: black;
}

body {
   overflow: hidden;
}
