<% include ./partials/header %>

    <h1>Login  Form</h1>
    <form class="ui form" action="/login" method="POST">
        <div class="six wide field">
            <label>Username</label>
            <input type="text" name="username" placeholder="email address">
        </div>
        <div class="six wide field">
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>

<% include ./partials/footer %>