<% include ./partials/header %>
    <h1>Sign Up</h1>

    <form class="ui form" action="/register" method="POST">
        <div class="ui grid after40">
            <div class="eight wide column">
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="eight wide column">
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="eight wide column">
                <input type="text" name="firstname" placeholder="first name">
            </div>
            <div class="eight wide column">
                <input type="text" name="lastname" placeholder="last name">
            </div>
            <div class="eight wide column">
                <input type="number" name="code" placeholder="code">
            </div>
            <div class="sixteen wide column">
                <button class="ui green inverted button">Submit</button>
            </div>
        </div>
    </form>
<% include ./partials/footer %>
